@import "../../sass/mixings";

.calculator {
    display: block;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 8px;
    margin: 15px 40px;
    text-align: center;
    background: rgba(17, 9, 9, 0.73);


	@include BP(mobile) {
		transform: scale(1.5);
	}
	
	.buttons {
		width: 200px;
		display: flex;
		flex-wrap: wrap;
	}
}